@import 'variables.scss';

.tree-container {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tree {
  display: flex;
  padding: 1rem;
  padding-left: 4rem;
}

.tree-row {
  display: flex;
  justify-content: center;
  height: 305px;
}

.family {
  display: inline-block;
}